.gradient {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(255, 124, 148, 1) 0%,rgba(255, 151, 112, 1) 38.32%,rgba(255, 214, 112, 1) 77.11%,rgba(233, 255, 112, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(255, 124, 148, 1) ),color-stop(0.3832,rgba(255, 151, 112, 1) ),color-stop(0.7711,rgba(255, 214, 112, 1) ),color-stop(1,rgba(233, 255, 112, 1) ));
  background : -o-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7C94', endColorstr='#E9FF70' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7C94',endColorstr='#E9FF70' , GradientType=1);
  height: 100vh;
}

.box{
    padding: 20px;
    margin: 0px 15vw ;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35pt;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(255, 124, 148, 1) 0%,rgba(255, 151, 112, 1) 38.32%,rgba(255, 214, 112, 1) 77.11%,rgba(233, 255, 112, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(255, 124, 148, 1) ),color-stop(0.3832,rgba(255, 151, 112, 1) ),color-stop(0.7711,rgba(255, 214, 112, 1) ),color-stop(1,rgba(233, 255, 112, 1) ));
  background : -o-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7C94', endColorstr='#E9FF70' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(255, 124, 148, 1) 0%, rgba(255, 151, 112, 1) 38.32%, rgba(255, 214, 112, 1) 77.11%, rgba(233, 255, 112, 1) 100%);
  box-shadow : 7px 7px 16px rgba(0, 0, 0, 0.61);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7C94',endColorstr='#E9FF70' , GradientType=1);
}

.nav{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
  align-content: stretch;
  padding: 20px;
}

.layout{
  padding: 20px;
  text-align: right;
  box-shadow : 7px 7px 16px rgba(0, 0, 0, 0.61);
  margin: 2px 90px;
}